
.backgradient{
  background: black;
  background-image: linear-gradient(to right, rgb(34, 30, 30) , rgb(65, 65, 64));

}


.nav-link{
  color: white !important;
}

.nav-link:hover{
  font-size: 23px;
  border-bottom: 2px solid white;
}
.directionimages{
  display: flex;
  flex-direction: row;
}
.underline{
  width: 100px;
  height: 6px;
  background-color: brown;
}
.webtitle{
  font-size: 22px !important;
}
.webtitle:hover{
  font-size: 24px !important;
  color: whitesmoke !important;
}

@media  (max-width:900px)
{
  
   .direction{
     display: flex;
     flex-direction: column;
     
   }

   .imgheight{
     height: 800px;
   }


}
  

/* 

@media screen and (max-width: 900) {

  .arraysirection{

    display: flex;
    flex-direction: row;
    background-color: black;
  }
  
}

@media screen and (max-width: 700p) {

  .carddirection{
    display: flex;
    flex-direction: column;
    
  }
  
 
} */
